{% assign experiences = site.data.cv-data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <p class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </p>

  {% for experience in experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <p class="job-title">{{ experience.role }}</p>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      {% if experience.company %}
        <div class="company">{{ experience.company }}</div>
      {% endif %}

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

