---
layout: page
# The Home page layout
---

{% include lang.html %}

<div id="header">
  <h1>Houming Chen</h1>
  <p>
    <a href="cv-pure">CV</a> |
    <!--<a href="posts/unofficial_transcripts/">Transcripts </a> |-->
    <a href="https://www.linkedin.com/in/houming-chen-51a4a1195/">LinkedIn</a>
  </p>

</div>


<section>
  <p>
    At present, I'm a 2nd year phd student at the
    <a href="https://umich.edu">University of Michigan</a>
    - Ann Arbor.

    I'm also working in professor <a href="https://web.eecs.umich.edu/~jag/">Dr. H.V. Jagadish's</a> research group.


  </p>
</section>

<section>
  <header>
    <h3>Researches</h3>
  </header>

   <p>
    I'm currently working as a research assistant at <a href="https://pdhillon.com">Dr. H.V. Jagadish's</a> research group. My interest lies in data mining and machine learning.


</section>


<!--
<section>
  <header>
    <h3>Academic Interest</h3>
  </header>
  <p>
    My interest lies broadly in math and computer science. At present, I'm now especially interested in the application of deep learning
    in NLP and multimodel tasks, interpretability of neural networks, explanations for the excellent generalizability
    of neural networks, and the relationship between deep learning and cognitive science.
  </p>
</section>
-->

<!--
<section>
  <header>
    <h3>Academic Interest</h3>
  </header>
  <p>
    My interest lies broadly in math and computer science. At present, I'm now especially interested in the theories and applications of machine learning.
  </p>
</section>
-->

<!--
<section>
  <header>
    <h3>Awards</h3>
  </header>
  <ul>
    <li><a href="/posts/icpc_certificate_2019">Silver Medal(7th place) - ICPC 2019 North Central NA Regional Contest </a></li>
    <li><a href="/posts/icpc_certificate_2021">Honorable Mention(13th place) - ICPC 2021 East Central NA Regional Contest </a></li>
  </ul>
</section>
-->