---
layout: page
# The Category layout
---

{% include lang.html %}


<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 85%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.background_img {
  padding: 48px 16px;
  background-size: 200px 120px;
}

.column {
  float: left;
  width: 33%;
  padding: 0 0px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

p {
  font-size: 11px;
}

h5 {
  font-size: 13px;
}

</style>
</head>


<h2> Research Projects @ <a href="https://pdhillon.com">Dr. Paramveer Dhillon's</a> research group </h2>


<div class="row">
  <div class="column">
    <div class="card">
      <div class="background_img",
      style="background-image: url('../assets/img/pexel_texture/pexels-scott-webb-2117937.jpg');">
      </div>
      <div class="container">
        <h5><b>
        <a href="">A Twitter Project</a>
        </b></h5>
        <p>A project which involves analyzing the Twitter data. Not released yet.<br>
        Preprint: <a href="https://drive.google.com/drive/u/0/folders/10mIXnaN_k7REd7J-sC8r1w7BosHmCr6N">Request access</a>
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<h2> Course Projects </h2>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="background_img",
      style="background-image: url('../assets/img/pexel_texture/pexels-gdtography-911738.jpg');">
      </div>
      <div class="container">
        <h5><b>
        <a href="https://drive.google.com/drive/u/0/folders/1VOM5wS5Ft9pavoYG4gj6sKAODfWyRedS">UM: EECS545 Machine Learning (W21)</a>
        </b></h5>
        <p>Group research project <br>
        Not released yet. Currently can only be accessed with umich accounts. </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="background_img",
      style="background-image: url('../assets/img/pictures/590-presentation.png');">
      </div>
      <div class="container">
        <h5><b>
        <a href="https://docs.google.com/presentation/d/1smfnMNGwbDjVQy41oHbd6Y_HkW3rs_qY7ZP--dm9dA4">UM: Math590 Introduction to Topology (W21)</a>
          </b></h5>
        <p>Group presentation<br>
        TDA: Mapper and ToMATo <br>
        <a href="https://colab.research.google.com/drive/1Itc7IjfOaDaH5zpNLfgK0envUe8YHK8n">Persistent Homology Demo - colab</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="background_img",
      style="background-image: url('../assets/img/pictures/EECS595-project.png');">
      </div>
      <div class="container">
        <h5><b>
        <a href="../assets/pdf/EECS_595_Final_Report.pdf">UM: EECS595 Natural Language Processing (F20)</a>
        </b></h5>
        <p>
        Group research project on given tasks <br>
        NLU|Transformers|Commonsense reasoning</p>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="background_img",
      style="background-image: url('../assets/img/pictures/400-project.png');">
      </div>
      <div class="container">
        <h5><b>
        <a href="https://github.com/Jesse-Yan/Matrix_Calculator">UW-M: CS400 Programming III (SP20)</a>
        </b></h5>
        <p>Group development project <br>
        Java-fx development|Numerical linear algebra|CAS system</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="background_img",
      style="background-image: url('../assets/img/pictures/Stat333-project.png');">
      </div>
      <div class="container">
        <h5><b>
        <a href="../assets/pdf/Stat333-Yelp_summary.pdf">UW-M: STAT333 Applied Regression Analysis (F19)</a>
        </b></h5>
        <p>Group regression analysis project <br>
        Regression Analysis|Data mining<br>
        <a href="https://www.kaggle.com/c/uwmadison-2019fall-stat333/leaderboard">Our group got the 1st place on Kaggle</a>
        </p>
      </div>
    </div>
  </div>

</div>
